{% extends "base.html" %}
{% block head_title %}
Welcome to
{%endblock %}


{% block styles %}
.jumbotron {
	/* color: red; */
}
{% endblock %}

{% block jumbotron %}
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>Hello {{ username_is }}</h1>
		<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
		<p>To see the difference between static and fixed top navbars, just scroll.</p>
		<p>
			<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
		</p>
	</div>
</div>
{% endblock %}

{% block content %}


<div class="row">

	{% for product in products %}
	<div class="col-sm-4">



		<div class="thumbnail">
			{% for item in product.productimage_set.all %}


			{% if item.featured %}
			<img class="img-responsive" src="{{ MEDIA_URL }}{{ item.image }}"/>
			{% endif %}
			{% endfor %}

			<div class="caption">
				<a href="{% url 'single_product' product.slug %}"><h3>{{ product.title }}</h3></a>
				<p>{{ product.description|truncatewords:15}}</p>
				<p><a href="{% url 'single_product' product.slug %}" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			</div>
		</div>

	</div>

	{% cycle "" "" "" "</div><br/><hr/><div class='row'>" %}
	{% endfor %}

</div>


{% endblock %}
